body.skis.search {
  background: url('background_image.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  height: 100vh;
  -o-background-size: cover;
}

.banner-search {
  background-image: 100vh;
}
