body.skis.search {
  background: url('background_image.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: 100vh - 100px;
  -o-background-size: cover;
}
