// Specific CSS for your home-page

.banner {
  background-size: cover;
  background-position: center;
  padding: 130px 0;

}

#banner-typed-text {
  font-weight: bolder;
  font-size: 54px;
  color: #50b6bb;

}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 38px;
  font-weight: bold;
}

.banner p {
  font-size: 54px;
  color: white;
  opacity: .9;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-family: 'Anton', sans-serif;
}
