// Import page-specific CSS files here.
@import "login";
@import "show_ski";
@import "index_transactions";
@import "ski_new";
@import "banner_home";
@import "footer_home";


.container-index-ski {
  margin: 10px, 0px, 40px, 5px;
  padding:0;
  // margin-left: 8px;
  // margin-right: 8px;

}

// .container-index-ski {
//   flex-grow: 1 1;
// }


.container-index-ski #map {
  height: 74vh;
  position: sticky;
  top: 0;
}

#map {
  padding-left:Opx;
  padding-right:0px;
}

