// Import page-specific CSS files here.

@import "index_transactions";
@import "ski_new";

@import "banner_home";
@import "footer_home";

.container-index-ski {
  display: flex;
  justify-content:center;
  margin: 40px;
  padding:0;
  // margin-left: 8px;
  // margin-right: 8px;

}

.container-index-ski .bigrow {
  flex-grow: 1 1;
}


.container-index-ski #map {
  height: 100vh;
  position: sticky;
  top: 0;
}

.bigrow {
  padding-right:8px;
}

#map {
  padding-left:8px;
  padding-right:8px;
}

