.container-intermediaire {
  display: flex;
  justify-content: space-between;
}


.list-as-customer, .list-as-owner {
  display: flex;
  flex-direction: column;
  align-items: center;

  .card-product {
    width: 520px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin: 10px 0;
  }

}


#accordionTransac {
  h3 {
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
  }
  .btn {
    color: black;
  }
}


 #accordionTransac .card-header {
  &:hover {
    background-color: rgba(0, 0, 0, 0.02);
    cursor: pointer;
  }
}
