.ski_photo {
  height: 500px;
}

.image-info {
  display: flex;
  img {
    border-radius: 10px;
    margin: 0 auto;
  }
}
  h2 {
    margin-top: 10px;
    font-weight: bold;
    font-style: italic;
  }
