.image-show {
  display: flex;
  // width:1000px;
  img {
    border-radius: 10px;
    margin: 0 auto;
  }
}
  h2 {
    margin-top: 10px;
    font-weight: bold;
    font-style: italic;
  }

.show-content {
  padding-left: 156px;;
}
