.container-ski-new {
  background-size: cover;
  background-position: center;
  min-height: calc(100vh - 40px);
}

#h1-ski-new {
  color: white;
  font-style: italic;
  font-weight: bold;
}

#h3-ski-new {
  color: white;
}

#new_ski {
  color:white;
}

.container-ski-new .btn {
  color:white;
}

.container-ski-new .form-control {
  width: none;
}

.container-ski-new .file {
    padding: 0px;
  }
