


<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path "caroussel3.jpg", alt: "alttext" %>);">
  <div class="container">
    <h1><strong>Skis on Rails</strong></h1>
    <p>Best Way to rent your skis.</p>
    <button type="button" class="btn btn-primary btn-lg">Our Skis</button>
  </div>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="https://github.com"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
    <a href="https://facebook.com/"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
    <a href="https://www.linkedin.com/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    suivez nous sur les réseaux sociaux
  </div>
</div>
