

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path "carousel1.jpg", alt: "alttext" %>);">
  <div class="container">
    <div class="ski-text">
     <p>La meilleure façon de louer vos <span id="banner-typed-text"></span></p>
    </div>
  <%= link_to "Our skis", skis_path, class: "btn btn-primary btn-lg"%>
  </div>

  <form action="<%= skis_path %>" method="get" class="form-example">
    <div class="form-example">
      <label for="name">Balance ta demande </label>
      <input type="text" name="query" id="name" value="<%= params[:query] %>" placeholder="Modèle, Ville, Taille de ski">
    </div>
    <div class="form-example">
      <input type="submit" value="Rechercher">
    </div>
  </form>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="https://github.com"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
    <a href="https://facebook.com/"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
    <a href="https://www.linkedin.com/"><i class="fab fa-linkedin"></i></a>
  </div>

  <div class="footer-copyright">
    suivez nous sur les réseaux sociaux
  </div>
</div>
