<h1>Vous êtes dans show html (ski)</h1>

<p> <%= @ski.model %></p>

<div class="card-trip">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card-trip-infos">
    <div>
      <h2><%= @ski.model %></h2>
      <p>Short description here!</p>
    </div>
    <h2 class="card-trip-pricing">€12.99</h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
    <a href="#" class="btn btn-primary">Reserver</a>
  </div>
</div>
