.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 12;
//   a {
//     &:hover {
//       text-decoration: none;
// }
//   }
}


.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  opacity: 0.85;
}


.card-trip:hover > img {
  opacity: 1;
}
.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: $primary;
}

.card-trip-pricing h2 {
  text-align: right;
}

.card-trip-infos a:link, a:hover  {
   text-decoration: none;
}


.card-trip  {
  font-size: 16px;
  margin: 0;
}

.model  {
  margin: 0px;
  font-size: 16px;
  font-weight: bold;
  color: #BF8F56;
}

.card-trip-infos {
    bottom-margin: 10px;
}

.size  {
  font-size: 16px;
  color:#333333;
}

.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

