.navbar-lewagon {
  justify-content: space-between;
  background: white;
  border-bottom: 1px solid #dee2e6;
}

.skis.search, .skis.new {
  .navbar-lewagon {
    position: fixed;
    background: transparent;
    left: 0;
    right: 0;
    border-bottom: none;

    .nav-link {
      color: #eee;
      font-weight: 400;
    }
  }


}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar a {
  text-decoration: none;
}
