<body class="bg-light" cz-shortcut-listen="true">
    <div class="container">
      <div class="py-5 text-center">
        <div class="row">
            <div class="card"  style="width: 70rem;">
            <img src="https://icdn9.digitaltrends.com/image/columbia-banff-trip-super-premium-thumbs-up-1200x4688.jpg" class="card-img-top" alt="...">
              <div class="card-body">
              <h5 class="card-title"><i class="fas fa-skiing"></i><strong>Ma location</strong></h5>
              <p class="card-text">Votre commande du: <strong><%= @transaction.rental_date %></strong>, auprès de <strong><%= @transaction.ski.owner.name %>, </strong>au prix de <strong><%= @transaction.ski.price %>€ </strong> est confirmée, Maintenant vous êtes prêts à skier!<i class="fas fa-skiing-nordic"></i></p>
              <%= link_to "Retour à l'accueil",root_path, class: 'btn btn-primary' %>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>
